@import "../node_modules/normalize.css/normalize";

/*----variables---*/
@import "_variables.scss";

/*----popup----*/
@import "lib/magnific-popup";

/*----carousel----*/
@import "lib/slick";
@import "lib/slick-theme";

/*---menu---*/
@import "_menu.scss";

/*----from---*/
@import "_form.scss";

@import "pages/pod.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  letter-spacing: 1.4px;
}
.fack{
  width: 90vw;
  height: 100vh;
}
h2{
  font-size: 2rem;
  font-family: CyrMedium,Arial;
  flex: 100%;
}

.email ,.tel {
  position: fixed;
  right: -250px;
  display: flex;
  align-items: center;
  height: 60px;
  transition: all .5s;
  z-index: 9998;
}

.tel{
  top: 30%;
}
.email{
  top: 45%;
}
.tel img, .email img{
  width: 60px;
  height: 60px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.tel a, .email a{
  background: #ed2a31;
  display: inline-flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: $white;
  text-decoration: none;
  min-width: 250px;
  font-family: CyrMedium,Arial;
  font-size: 1.4rem;
}

.pan_one, .pad, .block_six{
  padding: 70px 0!important;
}
.openMenu{
  right: 0!important;
  transition: all .8s;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
}
.f-nav{
  position: fixed !important;
  z-index: 999;
  height: 114px;
  background: #f7fdff!important;
  overflow: hidden;
  box-shadow: 0px 4px 7px 1px rgba(146, 146, 146, 0.33);
  width: 100%;
}

.f-nav .top_header {
  height: 114px;
}
.bg_wight{

}
#answers{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
#answers span{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(133, 167, 62, 0.86);
  text-shadow: 0 0 3px black;
  font-size: 50px;
  font-weight: bold;
}

.container{
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  left: 0;
  right: 0;
}
header{
  position: relative;
  z-index: 9999;
}
.fade{
  display: none;
}
.show{
  display: initial;
}
.header_page_main{
  min-height: 850px;
}
.logo.mob{
  display: none;
}
.pane-container{
  height: 850px;
}

.top_header {

  display: flex;
  align-items: center;
}

.top_header.container{
  padding-top: 0;
  padding-bottom: 0;
}

.top_header.mainPage{
  position: absolute;
}

.podves .bg_wight{
  background: url("../img/podHeader.png")0 0 no-repeat;
  background-size: cover;
}

.top_header .logo{
  position: relative;
  z-index: 999;
}

.headerSlider .item{
  width: 100vw;
  height: 850px;
  position: relative;
}

.headerSlider .item .text_sider{
  font-family: CyrMedium,Arial;
  font-size: 3.4rem;
  color: $white;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 1150px;
  margin: auto;
  transform: translate(-50%);

}

.headerSlider .item .crug{
  position: absolute;
  top: 55%;
  left: 50%;
  width: 1150px;
  margin: auto;
  transform: translate(-50%);
  display: flex;
}
.headerSlider .item .crug .boxIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 60px;
  color: $white;
  font-family: CyrMedium,Arial;
  text-transform: uppercase;
}
.headerSlider .item .crug .in_grug{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  background: #a80000;
  border-radius:50%;
  padding: 30px;
  text-align: center;
  color: $white;
  font-family: CyrMedium,Arial;
  margin-bottom: 20px;
}
.headerSlider .item .crug .in_grug b{
  font-weight: 900;
  font-family: CyrBlack,Arial;
}
.headerSlider img {
  width: 100%;
  height: 100%;
}
.pane{

}

.top_menu li.active a{
  background: #f0363c;
  color: white!important;
  padding: 20px;

}
.video_box video{
  cursor: pointer;
}

*::-webkit-media-controls-panel {
  opacity: 0;
}

.video_box:hover *::-webkit-media-controls-panel{
  opacity: 1;
}

.pan_one{
  justify-content: space-between;
}
.pan_one .box{
  width: 50%;
  padding: 30px 30px 0 0;
  font-size: 1.2rem;
  font-family: CyrRoma;
}
.pan_one h2 {
  color: #285bc1;
  margin-top: 40px;
}

.block_two{
  background: url("../img/bg_serves.jpg")0 0 no-repeat;
  background-size: cover;
}

.block_two h2{
  text-align: center;
  color: $white;
  margin: 3.5rem 0;
}

.block_two .wrapper{
  justify-content: space-between;
  flex-flow: row wrap;
}

.block_two .wrapper .box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.block_two .wrapper .box img{
  width: 141px;
  height: 141px;
}
.block_two .wrapper .box span{
  color: $white;
  font-size: 1.7rem;
  margin-top: 3rem;
}
.block_three{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.bg_over{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover!important;
  background-repeat:no-repeat!important;
}


.box_animation{
  flex-basis: 31%;
  height: 17.14rem;
  background: #182c4f;
  margin: .4rem;
  position: relative;
  background-size: cover!important;
  transition: all .8s;
}

.box_animation span{
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1rem;
  color: $white;
  font-family: CyrMedium,Arial;
}

.block_three .two{
  background: url("../img/block_three/sepatator.png") 0 0 no-repeat;
}

.block_three .three{
  background: url("../img/block_three/erguard.png") 0 0 no-repeat;
}

.block_three .four{
  background: url("../img/block_three/armat.png") 0 0 no-repeat;
}

.block_three .five{
  background: url("../img/block_three/line.png") 0 0 no-repeat;
}

.block_three .six{
  background: url("../img/block_three/lab_eng.png") 0 0 no-repeat;
}


.block_three .seven{
  background: url("../img/block_three/velma.png") 0 0 no-repeat;
}

.block_three .eight{
   background: url("../img/block_three/mag_s.png") 0 0 no-repeat;
 }

.block_three .nine{
  background: url("../img/block_three/dop_oporud.png") 0 0 no-repeat;
}

.block_three:hover .box_animation{
  background:none;
}

.box_animation:hover{
  background: #182c4f!important;
}
.block_three .border{
  position: absolute;
  border: 1px solid #ffffff;
  left: -1px;
  top: 0px;
  right: 0px;
  bottom: -1px;
  opacity: 0;
  transition: opacity 1s;
  z-index: 2;
}

.block_three:hover .border{
  opacity: 1;
}

.block_four{
  position: relative;
}

.block_four .bg{
  position: absolute;
  width: 60%;
  height: 100%;
  background: #182c4f;
}

.block_four .bg:after{
  content: '';
  height: 100%;
  width: 300px;
  background: #182c4f;
  position: absolute;
  right: -150px;
  transform: skewX(16deg);
}

.block_four .container{
  padding: 7.14rem 0;
}

.block_four .sliderInPage .item .box{
  display: flex;
}

.block_four .sliderInPage .item .text_in_slider{
  flex-basis: 50%;
}

.block_four .sliderInPage .item .text_in_slider h3{
  color: $white;
  margin-bottom: 60px;
  font-size: 2rem;
  font-family: CyrMedium,Arial;
}

.block_four .sliderInPage .item .text_in_slider p{
  color: $white;
  font-size: 1.4rem;
  font-family: CyrMedium,Arial;
}

.block_five {
  background: url("../img/bg_5.jpg")0 0 no-repeat;
  background-size: cover;
  margin-top: 10.71rem;
  min-height: 350px;
}

.block_five .box_img{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.block_five .box_img .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 1.4rem;
}

.block_five .box_img .box img{
  width: 103px;
  height: 103px;
  margin-bottom: 2rem;
}

.block_five h2{
  color: $white;
  text-align: center;
  font-size: 2rem;
  font-family: CyrMedium,Arial;
  margin: 3.5rem 0 6rem;
}

.block_six .wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.block_six .wrap h2{
  color: #285bc1;
  font-size: 2rem;
  padding: 0rem 0 2rem;
  font-family: CyrMedium,Arial;
  text-transform: uppercase;
}

.block_six .wrap .box_item{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block_six .wrap .box_item img{
  width: 100%;
  height: 270px;
}

.block_six .wrap .box_item p{
  font-size: 1.4rem;
  margin-top: .5rem;
  flex-basis: 30%;
}

.block_six .wrap .box_item .link{
  background: $red;
  text-decoration: none;
  padding: 1rem;
  color: $white;
  display: inline-block;
  margin-top: 3.14rem;
  align-self: flex-end;
  transition: all .6s;
}

.block_six .wrap .box_item .link:hover{
 background: $redHover;
}

.have_questions{
  background: url("../img/bg_serves.jpg")0 0 no-repeat;
  background-size: cover;
  color: $white;
  padding: 7.14rem 0;
  display: flex;
}

.have_questions .wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.have_questions .wrap .text_one{
  font-size: 2.98rem;
  font-family: CyrLight, Arial;
  margin-right: 2.98rem;
  flex-basis: 30%;
}

.have_questions .wrap .text_two{
  font-family: CyrLight, Arial;
  margin-right: 2.98rem;
  font-size: 1.4em;
  flex-basis: 45%;
}

.have_questions .wrap .link{
  color: $white;
  font-size: 2rem;
  font-family: CyrLight, Arial;
  text-decoration: none;
  flex-basis: 30%;
  border: 1px solid $white;
  text-align: center;
  padding: 1rem 0;
  transition: all .5s;
}

.have_questions .wrap .link:hover{

  background: rgba(48, 101, 209, 0.43);
}

footer{
  background: #182c4f;
  color: $white;
  padding-top: 3.7rem;
}

footer .wrap{
  display: flex;
  justify-content: space-between;
}

footer a{
  color: $white;
  text-decoration: none;
  font-family: CyrLight,Arial;
  font-size: 1.4rem;
  transition: all .5s;
  position: relative;
}
footer a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  transform-origin: center;
  transition: width .8s;
}

footer a:hover:after{
  background: #b4b3b3;
  width: 100%;
}

footer a:hover{
  color: #b4b3b3;
}

footer ul{
  list-style: none;
}

footer ul li a{
  margin-bottom: 1rem;
  display: inline-block;
}

footer .box_address{
  color: $white;
  text-decoration: none;
  font-family: CyrLight,Arial;
  font-size: 1.4rem;
  margin-bottom: 7.14rem;
}
footer .box_address .addr2  a{
  margin-bottom: 8px;
  display: block;
}
footer .box_address .addr1, footer .box_address .addr2, footer .box_address .addr3{
  margin-bottom: 1rem;
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
}

footer .box_address .addr1:before, footer .box_address .addr2:before, footer .box_address .addr3:before{
  content: '';
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: -70px;
}

footer .box_address .addr1:before{
  background: url("../img/spot.png")0 0 no-repeat;
}

footer .box_address .addr2:before{
  background: url("../img/spot.png")0 -90px no-repeat;
}

footer .box_address .addr3:before{
  background: url("../img/spot.png")0 -176px no-repeat;
}

footer .box_address .link_social{
  margin-top: 30px;
  display: inline-block;
}

/*----media---*/
@import "_media.scss";