@import "../node_modules/normalize.css/normalize";

/*----variables---*/
@import "_variables.scss";

/*----popup----*/
@import "lib/magnific-popup";

/*----carousel----*/
@import "lib/slick";
@import "lib/slick-theme";

/*---menu---*/
@import "_menu.scss";

/*----from---*/
@import "_form.scss";

/*----media---*/
@import "_media.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  letter-spacing: 1.4px;
}
h2{
  font-size: 2rem;
  font-family: CyrMedium,Arial;
  flex: 100%;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
}
.f-nav{
  position: fixed !important;
  z-index: 999;
  height: 114px;
  background: #f7fdff;
  overflow: hidden;
  box-shadow: 0px 4px 7px 1px rgba(146, 146, 146, 0.33);
  width: 100%;
}

.f-nav .top_header {
  height: 114px;
}
.bg_wight{

}
#answers{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
#answers span{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(133, 167, 62, 0.86);
  text-shadow: 0 0 3px black;
  font-size: 50px;
  font-weight: bold;
}

.container{
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  left: 0;
  right: 0;
}
header{
  position: relative;
  min-height: 850px;
}

.pane-container{
  height: 850px;
}

.top_header {
  position: absolute;
  display: flex;
  align-items: center;
}

.top_header.container{
  padding-top: 0;
  padding-bottom: 0;
}
.top_header .logo{
  position: relative;
  z-index: 999;
}

.headerSlider .item{
  width: 100vw;
  height: 850px;
  position: relative;
}

.headerSlider .item .text_sider{
  font-family: CyrMedium,Arial;
  font-size: 3.4rem;
  color: $white;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 1150px;
  margin: auto;
  transform: translate(-50%);

}

.headerSlider .item .crug{
  position: absolute;
  top: 55%;
  left: 50%;
  width: 1150px;
  margin: auto;
  transform: translate(-50%);
  display: flex;
}
.headerSlider .item .crug .boxIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 60px;
}
.headerSlider .item .crug .in_grug{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90px;
  height: 90px;
  background: #a80000;
  border-radius:50%;
  padding: 30px;
  text-align: center;
  color: $white;
  font-family: CyrMedium,Arial;
}
.headerSlider .item .crug .in_grug b{
  font-weight: 900;
  font-family: CyrBlack,Arial;
}
.headerSlider img {
  width: 100%;
  height: 100%;
}
.pane{
  height: 100vh;
  width: 100%;
}

.top_menu li .active{
  background: red;
  padding: 20px;

}
.video_box video{
  cursor: pointer;
}

*::-webkit-media-controls-panel {
  opacity: 0;
}

.video_box:hover *::-webkit-media-controls-panel{
  opacity: 1;
}

.pan_one .box{
  width: 50%;
  padding: 30px 30px 0 0;
  font-size: 1.2rem;
  font-family: CyrRoma;
}
.pan_one h2 {
  color: #285bc1;
  margin-top: 40px;
}

.block_two{
  background: url("../img/bg_serves.png")0 0 no-repeat;
  background-size: cover;
}

.block_two h2{
  text-align: center;
  color: $white;
  margin: 3.5rem 0;
}

.block_two .wrapper{
  justify-content: space-between;
}

.block_two .wrapper .box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}
.block_two .wrapper .box img{
  width: 141px;
  height: 141px;
}
.block_two .wrapper .box span{
  color: $white;
  font-size: 1.7rem;
  margin-top: 3rem;
}
.block_three{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.bg_over{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover!important;
  background-repeat:no-repeat!important;
}


.box_animation{
  flex-basis: 31%;
  height: 17.14rem;
  background: #182c4f;
  margin: .4rem;
  position: relative;
  background-size: cover!important;
  transition: all .8s;
}

.box_animation span{
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.2rem;
  color: $white;
  font-family: CyrMedium,Arial;
}

.block_three .two{
  background: url("../img/block_three/sepatator.png") 0 0 no-repeat;
}

.block_three .three{
  background: url("../img/block_three/erguard.png") 0 0 no-repeat;
}

.block_three .four{
  background: url("../img/block_three/armat.png") 0 0 no-repeat;
}

.block_three .five{
  background: url("../img/block_three/line.png") 0 0 no-repeat;
}

.block_three .six{
  background: url("../img/block_three/lab_eng.png") 0 0 no-repeat;
}


.block_three .seven{
  background: url("../img/block_three/velma.png") 0 0 no-repeat;
}

.block_three .eight{
   background: url("../img/block_three/mag_s.png") 0 0 no-repeat;
 }

.block_three .nine{
  background: url("../img/block_three/dop_oporud.png") 0 0 no-repeat;
}

.block_three:hover .box_animation{
  background:none;
}

.box_animation:hover{
  background: #182c4f!important;
}
.block_three .border{
  position: absolute;
  border: 1px solid #ffffff;
  left: -1px;
  top: 0px;
  right: 0px;
  bottom: -1px;
  opacity: 0;
  transition: opacity 1s;
  z-index: 2;
}

.block_three:hover .border{
  opacity: 1;
}