.pane-seporator{
  height: 650px;
  position: relative;
}

.pane-seporator .header_img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.pane-seporator .crug{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(42, 52, 80, 0.74);
}

.pane-seporator .crug .wrap{
  justify-content: space-around;
  display: flex;
}

.pane-seporator .crug .boxIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 60px;
  color: $white;
  font-family: CyrMedium,Arial;
  text-transform: uppercase;
}
.pane-seporator .crug .in_grug{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  background: $red;
  border-radius:50%;
  padding: 30px;
  text-align: center;
  color: #fefefe;
  font-family: CyrMedium,Arial;
  margin-bottom: 20px;
}
.pane-seporator .crug .in_grug b{
  font-weight: 900;
  font-family: CyrBlack,Arial;
  display: inline-block;
}

.letter_c{
  display: flex;
}

.section_seporators{
  margin-top: 60px;
  margin-bottom: 90px;
}

.section_seporators .wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.section_seporators .wrap a{
  display: flex;
  flex-direction: column;
  margin: 9px;
  width: 340px;
  text-decoration: none;
}

.section_seporators .wrap a span{
  background: $blue;
  color: $white;
  text-align: center;
  font-family: CyrMedium;
  font-size: 24px;
  padding: 10px 10px;
  transition: all .4s;
}

.section_seporators .wrap a:hover span{
  background: $red;
}


.section_seporators .wrap a img{
  width: 340px;
  height: 240px;
}


.seporator_slider{
  margin-bottom: 150px;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .pane-seporator {
    height: 400px;
  }

  .section_seporators{
    margin-top: 17px;
    margin-bottom: 60px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .pane-seporator .crug .boxIn{
    margin-left: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .pane-seporator .crug .in_grug{
    width: 80px;
    height: 80px;
    font-size: 10px;
  }
  .pane-seporator .crug .boxIn{
    font-size: 10px;
  }
  .pane-seporator .crug .wrap{
    padding: 9px!important;
  }
  .section_seporators .wrap a{
    width: 307px;
  }
  .section_seporators .wrap a img {
    width: 307px;
    height: 220px;
  }

  .section_seporators{
    margin-top: 17px;
    margin-bottom: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
